
  body {
    background-color: #a7d7c5;
    padding-left: 15px;

  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 10%;
  }
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
h1 {
  color: #d84c73;
}
h3 {
  color: #1E757B;
}
h2 {
  color: #1f4287;
}
a {
  text-decoration: none;
}
img:hover {
  background-color: gold;
}
a:link { color: blue; }          /* Unvisited links */
a:visited { color: purple; }     /* Visited links */
a:hover { background: yellow; }  /* Hovered links */
a:active { color: red; }         /* Active links */

p:active { background: #eee; }   /* Active paragraphs */
form :active {
  color: red;
}
.button {
  background: white;
}
